.nav-close {
    position: fixed;
    float: right;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    grid-column: 2 / 3;

    img {

    }
}

.nav-open {
    position: fixed;
    float: right;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    grid-column: 2 / 3;
}

.nav-open > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    // background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    margin-right: 2.5%;
    min-width: 550px;
    backdrop-filter: blur(10px);
}

.nav-open > img:nth-child(2) {
    display: flex;
}





@media (max-width: 1550px){
    .nav-open > div:nth-child(1) {
        min-width: 550px;
    }
}



@media (max-width: 800px){
    .nav-open > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        min-width: 70%;
    }
    .nav-open > img:nth-child(2) {
        height: 50px;        
    }
    .nav-close {
        img {
            height: 50px;        
        }
    }

}



@media (max-width: 480px){
}

