
@import '../../ressources/font.module';

.console {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background: rgba(196, 196, 196, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 2%;
    margin-top: 5%;
}

.top-buttons {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    > div {
        border-radius: 50%;
        border: none;
        width: 15px;
        height: 15px;
        margin-left: 15px;
    }
    > div:nth-child(1) { background-color: red; }
    > div:nth-child(2) { background-color: yellow; }
    > div:nth-child(3) { background-color: green; }
}

.line {
    height: 1.5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    margin-bottom: 3%;

}
.commands-container::-webkit-scrollbar {   display: none; }
.commands-container {
    // overflow-y: scroll;
    // height: 60%;
    height: 500px;
    min-height: 500px;
}

@media (max-width: 1000px){
    .commands-container {
        overflow-y: scroll;
        height: 60%;
        min-height: 250px;
    }
    .console {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0;
        margin-top: 2%;
    }
}



@media (max-width: 480px){
    .console {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0;
        margin-top: 5%;
    }
    .commands-container {
        overflow-y: scroll;
        height: 60%;
        min-height: 150px;
    }
}