@import '/src/assets/main.scss';

.console-projects {
    margin-right: 2rem;
    width: 20rem;
    height: 30rem;
    // height: 25rem;

    background: rgba(196, 196, 196, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-buttons {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    > div {
        width: 0.938rem;
        height: 0.938rem;
        margin-left: 15px;

        border-radius: 50%;
        border: none;
    }
    > div:nth-child(1) { background-color: red; }
    > div:nth-child(2) { background-color: yellow; }
    > div:nth-child(3) { background-color: green; }
}

.line {
    height: 1.5px;
    width: 100%;
    margin-bottom: 3%;

    background-color: rgba(255, 255, 255, 0.04);
}

.commands-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    // height: 60%;
    // min-height: 500px;
}
.commands-container::-webkit-scrollbar {
    background-color: rgba(#24FF00, 100%);
    width: 10px;
    display: none;
}
.commands-container::-webkit-scrollbar-thumb {
    background-color: rgba(#062a00, 50%);
}


// @media (max-width: 1000px){
//     .commands-container {
//         overflow-y: scroll;
//         height: 60%;
//         min-height: 250px;
//     }
//     .console-projects {
//         grid-column: 1 / 2;
//         grid-row: 4 / 5;
//         margin: 0%;
//         justify-self: center;
//         margin-top: 2.5%;
//         align-self: flex-start;
//     }


// }

@media (max-width: 800px){
    .console-projects {
        width: 100%;
        margin-right: 0%;
        margin-top: 2.5%;

    }
        .commands-container {
        overflow-y: scroll;
        height: 60%;
        min-height: 180px;
    }
    .console-projects {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        height: 95%;
    }
}

@media (max-width: 480px){
    .commands-container {
        overflow-y: scroll;
        height: 60%;
        min-height: 150px;
    }
    .console-projects {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        height: 95%;
    }
}