@import '/src/assets/main.scss';


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(var(--vh, 1vh) * 100);
    // background-color: rgba(yellow, 50%);

}

.contact > p:nth-child(1) {
    margin-top: 5rem;
    @include lucudiaConsole-normal-normal-13px-green;
    color: white;
    font-size: 2.5rem;
    margin-bottom: .5%;
}

.contact > p:nth-child(2) {
    @include lucudiaConsole-normal-normal-13px-green;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 4%;
}


// @media (max-width: 1000px){
//     .contact {
//         margin-top: 15%;
//     }

//     .contact > p:nth-child(1) {
//         margin-bottom: .5%;
//     }

//     .contact > p:nth-child(2) {
//         margin-bottom: 4%;
//     }

// }


@media (max-width: 550px){


}


