@import '/src/assets/main.scss';

.background {
    display: flex;
    flex-direction: column;
    background: rgba(0, 224, 255, 0.1);
    padding-top: 6.5%;
    padding-bottom: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
}
.dashboard > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    > img { max-height: 5rem; @include not-draggable; }
    > div {
        display: flex;
        flex-direction: column;
        > p:nth-child(1) { @include roboto-normal-bold-20px-white; margin-left: 0.625rem;}
        > p:nth-child(2) { @include roboto-normal-bold-50px-white; margin-left: 0.625rem;}

    }
}

.dashboard > div:nth-child(2) {
    color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 5%;
    margin-right: 5rem;
    > p:nth-child(1) { @include roboto-normal-bold-20px-white; }
    > p:nth-child(2) { @include roboto-normal-bold-50px-white; }
    > p:nth-child(3), > p:nth-child(5) {
        @include roboto-normal-500-20px-white;
        margin-top: 1.25rem;
    }
    ul li {
        list-style: none;
        @include roboto-normal-500-20px-white;
    }
}


.div-nav-button-container {
    margin-top: 15%;
    margin-bottom: 15vh;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0rem 2rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px rgba(255, 255, 255, 0.15);
    transition: .4s;
    img { width: 2.813rem;  @include not-draggable;  }
    button {
        cursor: pointer;
        @include roboto-normal-500-20px-white;
        height: 100px;
        color: #ffffff;
        background-color: transparent;
        margin-left: 2.5%;

    }
}
.div-nav-button-container:hover {
    background: rgba(255, 255, 255, 0.06);
    width: 55%;
}
.div-nav-button-container:active {
    box-shadow: 0px 2px rgba(255, 255, 255, 0.15);
    transform: translateY(3px);
}






// Media queries
@media (max-width: 1700px){
    .background {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
}
@media (max-width: 1600px){
    .background {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width: 1350px){ .background { padding-top: 10%; }}
@media (max-width: 1100px){ .background { padding-right: 0%; }}


// Switching to mobile design
@media (max-width: 800px){
    .background {
        padding-right: 15%;
        padding-left: 15%;
        padding-top: 13%;
        padding-bottom: 15%;
    }
    .dashboard {
        padding-left: 0;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
    }
    .div-nav-button-container {
        display: none;
    }
}


@media (max-width: 700px){
    .background {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width: 600px){
    .background {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 16%;
    }
}
@media (max-width: 500px){
    .background {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20%;
    }
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
    }
}

