@import '/src/assets/main.scss';

.background {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 224, 255, 0.05);
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    padding-left: 20%;
    padding-right: 20%;

}

.projects {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    // padding-top: 10rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;

    > p:nth-child(1) {
        @include lucudiaConsole-normal-normal-13px-green;
        color: white;
        font-size: 2.5rem;
        margin: 0;
    }
    > p:nth-child(2) {
        @include lucudiaConsole-normal-normal-13px-green;
        color: white;
        font-size: 1.25rem;
        margin-top: 2vh;
        font-size: 1.2rem;
    }
}

.project-container {
    display: grid;
    grid-template-columns: min-content auto;
    height: 30rem;
}

.project {
    background-color: rgba(#FFFFFF, 7%);
    height: 30rem;
    display: grid;
    grid-template-columns: 90% 10%;

}

.project > div:nth-child(1) {
    height: 30rem;
    display: flex;
    align-items: center;
    :first-child {
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        object-fit: contain;
        max-height: 100%;
    }
}

.projects-switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    justify-self: center;
    margin-top: 5vh;

    > button {
        width: 0.938rem;
        height: 0.938rem;
        margin: 0;
        padding: 0;
        border-radius: 5rem;
    }
}

.switch-on { background-color: #24FF00; }
.switch-off { background-color: rgba(#FFFFFF, 7%); }




@media (max-width: 800px){
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        height: unset;
        justify-items: center;
        margin-left: unset;
    }

    .project-container > div:nth-child(2) {
        grid-row: 1/ 2;
        background-color: rgba(#FFFFFF, 7%);
        width: 100%;
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
    }

    .project-container > div:nth-child(2) > div:nth-child(1) {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
            max-height: 100%;
        }
    }

    .project-container > div:nth-child(2) > div:nth-child(2) {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .title-container {
        margin-bottom: 1vh;
    }


}


@media (max-width: 1800px){
    .background {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 1450px){
    .background {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1100px){
    .background {
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 15%;
        padding-bottom: 15%;

    }
}

@media (max-width: 800px){
    .background {
        padding-left: 15%;
        padding-right: 15%;
    }
    .title-container {
        margin-bottom: 4vh;
        > p:nth-child(2) {
            margin-top: 1vh;
        }
    }
}


@media (max-width: 700px){
    .background {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 600px){
    .background {
        padding-left: 5%;
        padding-right: 5%;
    }
}































// @media (max-width: 1300px) {
//     .projects {
//         margin-top: 10%;
//     }

// }
// @media (max-width: 1000px){
//     .projects {
//         margin-top: 20%;
        
//         grid-template-columns: 1fr;
//         grid-template-rows: 2fr 8fr 1fr 8fr;
//         height: unset;
//         // margin-left: 10%;
//         // margin-right: 10%;
//     }

//     .projects > div:nth-child(3) {
//         margin: 0;
//         grid-row: 3 / 4;
//         grid-column: 1 / 2;
//         justify-self: center;
//         height: 1px;
//         width: 40%;
//     }

//     .projects > img:nth-child(4) {
//         grid-row: 2 / 3;
//         grid-column: 1 / 2;
//         width: 70%;
//         object-fit: contain;
//         align-self: center;
//         justify-self: center;
//     }

// }


// @media (max-width: 480px){
//     .projects {
//         margin-top: 35%;
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 4fr 12fr 1fr 16fr;
//         max-height: unset;
//         height: unset;
//         // margin-left: 10%;
//         // margin-right: 10%;
//     }


//     .projects > div:nth-child(3) {
//         margin: 0;
//         grid-row: 3 / 4;
//         grid-column: 1 / 2;
//         justify-self: center;
//         align-self: center;
//         height: 1px;
//         width: 90%;
//         background-color:rgba(255, 255, 255, 0.29);
//         margin-left: 5px;
//     }

//     .projects > img:nth-child(4) {
//         margin-top: 5%;
//         grid-row: 2 / 3;
//         grid-column: 1 / 2;
//         object-fit: contain;
//         align-self: center;
//         justify-self: center;
//     }
//     .projects > img:nth-child(4) {
//         margin-top: 10%;
//         width: 80%;
//         object-fit: contain;
//         align-self: flex-start;
//     }

// }

