@import '/src/assets/main.scss';

.projects {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    min-height: calc(var(--vh, 1vh) * 100);
    // background-color: rgba(green, 20%);
    align-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    // margin-bottom: 8vh;
    margin-bottom: 4vh;

    > p:nth-child(1) {
        @include lucudiaConsole-normal-normal-13px-green;
        color: white;
        font-size: 2.5rem;
        margin: 0;
    }
    > p:nth-child(2) {
        @include lucudiaConsole-normal-normal-13px-green;
        color: white;
        font-size: 1.25rem;
        margin-top: 2vh;
    }
}

.project-container {
    display: grid;
    grid-template-columns: min-content auto;
    justify-content: center;
    // margin-left: 10%;
    height: 35rem;
    height: 30rem;
    // background-color: rgba(red, 15%);
}

.project-container > div:nth-child(2) {
    background-color: rgba(#FFFFFF, 7%);
    height: 30rem;
    // height: 35rem;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    // min-width: 45rem;

}

.project-container > div:nth-child(2) > div:nth-child(1) {
    // height: 35rem;
    height: 30rem;
    // background-color: rgba(green, 20%);
    display: flex;
    align-items: center;
    img {
        width: 100%;
        object-fit: contain;
        max-height: 100%;
    }
}

.project-container > div:nth-child(2) > div:nth-child(2) {
    // background-color: rgba(red, 20%);
    // height: 35rem;
    height: 30rem;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        object-fit: contain;
    }
}




.projects-switch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 10rem;
    justify-self: center;
    // margin-top: 5rem;
    margin-top: 5vh;
    // margin-bottom: 3.5rem;

    > button {
        width: 0.938rem;
        height: 0.938rem;
        margin: 0;
        padding: 0;
        border-radius: 5rem;
    }
    // > button:nth-child(1) { background-color: #24FF00; }
    // > button:nth-child(2) { background-color: rgba(#FFFFFF, 7%); }
    // > button:nth-child(3) { background-color: rgba(#FFFFFF, 7%); }
}

.switch-on { background-color: #24FF00; }
.switch-off { background-color: rgba(#FFFFFF, 7%); }




@media (max-width: 800px){
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        height: unset;
        justify-items: center;
        margin-left: unset;

    }

    .project-container > div:nth-child(2) {
        grid-row: 1/ 2;
        background-color: rgba(#FFFFFF, 7%);
        width: 100%;
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
    }

    .project-container > div:nth-child(2) > div:nth-child(1) {

        // background-color: rgba(green, 20%);
        display: flex;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
            max-height: 100%;
        }
    }

    .project-container > div:nth-child(2) > div:nth-child(2) {
        // background-color: rgba(red, 20%);

        display: flex;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .title-container {
        margin-bottom: 1vh;
    }


}





























// @media (max-width: 1300px) {
//     .projects {
//         margin-top: 10%;
//     }

// }
// @media (max-width: 1000px){
//     .projects {
//         margin-top: 20%;
        
//         grid-template-columns: 1fr;
//         grid-template-rows: 2fr 8fr 1fr 8fr;
//         height: unset;
//         // margin-left: 10%;
//         // margin-right: 10%;
//     }

//     .projects > div:nth-child(3) {
//         margin: 0;
//         grid-row: 3 / 4;
//         grid-column: 1 / 2;
//         justify-self: center;
//         height: 1px;
//         width: 40%;
//     }

//     .projects > img:nth-child(4) {
//         grid-row: 2 / 3;
//         grid-column: 1 / 2;
//         width: 70%;
//         object-fit: contain;
//         align-self: center;
//         justify-self: center;
//     }

// }


// @media (max-width: 480px){
//     .projects {
//         margin-top: 35%;
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 4fr 12fr 1fr 16fr;
//         max-height: unset;
//         height: unset;
//         // margin-left: 10%;
//         // margin-right: 10%;
//     }


//     .projects > div:nth-child(3) {
//         margin: 0;
//         grid-row: 3 / 4;
//         grid-column: 1 / 2;
//         justify-self: center;
//         align-self: center;
//         height: 1px;
//         width: 90%;
//         background-color:rgba(255, 255, 255, 0.29);
//         margin-left: 5px;
//     }

//     .projects > img:nth-child(4) {
//         margin-top: 5%;
//         grid-row: 2 / 3;
//         grid-column: 1 / 2;
//         object-fit: contain;
//         align-self: center;
//         justify-self: center;
//     }
//     .projects > img:nth-child(4) {
//         margin-top: 10%;
//         width: 80%;
//         object-fit: contain;
//         align-self: flex-start;
//     }

// }

