@import '/src/assets/main.scss';



.Output {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    color: #24FF00;
    align-items: flex-start;
    margin-bottom: .5rem;
}

.arrow {
    @include lucudiaConsole-normal-normal-13px-green;
    margin-left: 20px;
    margin-right: 10px;
}

.text {
    @include lucudiaConsole-normal-normal-13px-green;
    background-color: transparent;
    border: none;
    width: 80%;
    resize: none;
}

.text:focus {
    outline: none;
}


button {
    @include lucudiaConsole-normal-normal-13px-green;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    background-color: rgba(1, 1, 1, 0.3);
}