.nav {
    position:fixed;
    img {

        width: 4.688rem;
        height: 4.688rem;
        // width: 75px;
        // height: 75px;
    }
}



@media (max-width: 1000px){
}



@media (max-width: 480px){

}

